.filter-card {
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px;
}
.filter-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(#1c1c1b);
  margin-bottom: 20px;
}

.filter-card ul,
.filter-card .form-check-label {
  list-style-type: none;
  font-size: 13px;
  line-height: 30px;
  color: var(#777777);
  cursor: pointer;
}

.filter-card .form-check-input:focus {
  box-shadow: none;
  border-color: inherit;
}

.filter-card .form-check-input:checked {
  background-color: var(--color-febd69);
  border-color: var(--color-febd69);
}

.sub-title {
  font-size: 14px;
  font-weight: 600;
  color: var(#1c1c1b);
  margin-bottom: 15px;
  margin-top: 15px;
}
